---
export interface Props {
  href: string;
}
// destructuramos solo href
const { href } = Astro.props;
---

<a href={href}
   class="relative text-primary hover:text-primary font-semibold transition-all duration-300 group">
  <slot />  <!-- Aquí va el contenido anidado -->
  <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-primary group-hover:w-full transition-all duration-300"></span>
</a>
